﻿@model List<Author>

@{
    ViewData["Title"] = "Authors";
}

<h1>Authors</h1>

<table class="table">

    <tr><th>Names</th><th>Surnames</th></tr>

    @foreach (Author author in Model) 
    {
        <tr>
            <td>@author.Names</td>
            <td>@author.Surnames</td>
        </tr>
    }
</table>