﻿@model List<Category>

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>

<table class="table">

    <tr><th>Name</th></tr>

    @foreach (Category category in Model) 
    {
        <tr>
            <td>@category.Name</td>
        </tr>
    }
</table>