﻿@model List<Book>

@{
    ViewData["Title"] = "Books";
}


<h1>Authors</h1>

<table class="table">

    <tr><th>Name</th><th>Author</th><th>Category</th></tr>

    @foreach (Book book in Model) 
    {
        <tr>
            <td>@book.Name</td>
            <td>@book.Author.Surnames</td>
            <td>@book.Category.Name</td>
        </tr>
    }
</table>